*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    /* colors */
    --bg-color: #EFFCF6;
    --primary-color: #3EBD93;
    --secondary-color: #014D40;
    --neutral-color: #f5f5f5;

    /* sizes */
    --size-xl: 1920px;
    --size-lg: 1280px;
    --size-md: 1024px;
    --size-s: 768px;
}

html {
    scroll-behavior: smooth;
}

.error {
    color: red;
}

.error-one-liner {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}